*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
.container {
  width: 100%;
  height: auto;
  position: relative;
}
.container img {
  width: 100%;
}

.container .name {
  position: relative;
  top: -560px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  
}
.container .occ {
  position: relative;
  top: -540px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;

}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  font-size: 25px;
  color: #061E29;
}
.parent {
  margin: 100px auto 0 auto;
  width: 50%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  row-gap: 2rem;
  font-size: 25px;
  color: #061E29;
}
.contact {
  margin: 60px auto 40px;
  width: 40%;
  text-align: center;
  font-size: 25px;
  color: #061E29;
}
h2 {
  padding: 10px;
}
h3 {
  padding: 10px;
}
button {
  padding: 10px;
  margin: 20px auto 20px;
  background-color: #061E29;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  padding: 10px 20px 10px 20px;
}
a {
  color: antiquewhite;
  text-decoration: none;
}

@media (max-width: 700px) {
  .container {
  width: 100%;
  height: auto;
  position: relative;
}
.container img {
  width: 100%;
}

.container .name {
  position: relative;
  top: -180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  
}
.container .occ {
  position: relative;
  top: -160px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;

}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  font-size: 25px;
  color: #061E29;
}
.parent {
  margin: 100px auto 0 auto;
  width: 50%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  row-gap: 2rem;
  font-size: 15px;
  color: #061E29;
}
.contact {
  margin: 60px auto 40px;
  width: 40%;
  text-align: center;
  font-size: 15px;
  color: #061E29;
}
h2 {
  padding: 10px;
}
h3 {
  padding: 10px;
}
button {
  padding: 10px;
  margin: 20px auto 20px;
  background-color: #061E29;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px 10px 20px;
}
a {
  color: antiquewhite;
  text-decoration: none;
}
  .parent img {
  height: 100px; width: 100px;
}


@media (min-width: 701px) and ( max-width: 1250px ) {
  .container {
  width: 100%;
  height: auto;
  position: relative;
}
.container img {
  width: 100%;
}

.container .name {
  position: relative;
  top: -250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  
}
.container .occ {
  position: relative;
  top: -230px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;

}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  font-size: 25px;
  color: #061E29;
}
.parent {
  margin: 100px auto 0 auto;
  width: 50%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  row-gap: 2rem;
  font-size: 15px;
  color: #061E29;
}
.contact {
  margin: 60px auto 40px;
  width: 40%;
  text-align: center;
  font-size: 15px;
  color: #061E29;
}
h2 {
  padding: 10px;
}
h3 {
  padding: 10px;
}
button {
  padding: 10px;
  margin: 20px auto 20px;
  background-color: #061E29;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px 10px 20px;
}
a {
  color: antiquewhite;
  text-decoration: none;
}
.parent img {
  height: 100px; width: 100px;
}

}


}

